
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>zebra</display-name>
	<servlet>
		<description>
		</description>
		<display-name>ProductInsertionservlet</display-name>
		<servlet-name>ProductInsertionservlet</servlet-name>
		<servlet-class>servlets.ProductInsertion</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Productviewservlet</display-name>
		<servlet-name>Productviewservlet</servlet-name>
		<servlet-class>servlets.Productviewservlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddcartServlet</display-name>
		<servlet-name>AddcartServlet</servlet-name>
		<servlet-class>servlets.AddcartServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Cartproductsview</display-name>
		<servlet-name>Cartproductsview</servlet-name>
		<servlet-class>servlets.Cartproductsview</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Cartincdecservlet</display-name>
		<servlet-name>Cartincdecservlet</servlet-name>
		<servlet-class>servlets.Cartincdecservlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Placeordersservlet</display-name>
		<servlet-name>Placeordersservlet</servlet-name>
		<servlet-class>servlets.Placeordersservlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>servlets.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Signupservlet</display-name>
		<servlet-name>Signupservlet</servlet-name>
		<servlet-class>servlets.Signupservlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LogoutServlet</display-name>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>servlets.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Removeproductservlet</display-name>
		<servlet-name>Removeproductservlet</servlet-name>
		<servlet-class>servlets.Removeproductservlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductInsertionservlet</servlet-name>
		<url-pattern>/productinsertion</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Productviewservlet</servlet-name>
		<url-pattern>/productview</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddcartServlet</servlet-name>
		<url-pattern>/addtocart</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Cartproductsview</servlet-name>
		<url-pattern>/cartproductsview</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Cartincdecservlet</servlet-name>
		<url-pattern>/cartincdec</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Placeordersservlet</servlet-name>
		<url-pattern>/placeorderbycart</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Signupservlet</servlet-name>
		<url-pattern>/signup</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Removeproductservlet</servlet-name>
		<url-pattern>/remove</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
